main {
    margin-top: 30px;
}

main * {
    margin: 20px;
}

/* tag-uri cu clasa="div-green", 
   care se afla intr-un tag de tip main */
main .div-green {
    /* text color: */
    color: lime;
}

main div h2 {
    color:red;
}

/* selectezi elementul cu id="componente-box" */

#componente-box {
    margin: 10px;
    border: 3px solid red;
    padding: 5px;
}

/* selectezi elementul cu id="hero-element" */
#hero-element {
    border: 1px solid darkslategrey;
    padding: 10px;
}


